/* CForms - Template for Square Steps */
.steps-squares {
    text-align: center;
}

.steps-squares div {
    display: inline-flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.step-squared {
    width: 80px;
    height: 80px;
    background: #dcdcdc;
    font-weight: 700;
    font-size: 135%;
}

.cforms-step-separator {
    height: 3px;
    width: 80px;
    background: #dcdcdc;
}

.step-active {
    background: #6a6a6a;
    color: #fff;
}